@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900);

* {

padding: 0;
margin: 0;
box-sizing: border-box;

}

html {

scroll-behavior: smooth;

}

body {

font-family: 'Poppins', sans-serif;
overflow-x: hidden;
opacity: 100%;
transition: 1s ease;

}

body::after {

opacity: 80%;
transition: 1s ease;
    
}

body {
    background: linear-gradient(60deg, #505a57, #2a2d2c, #0e0f0f);
    background-size: 600% 600%;

    -webkit-animation: background-animation 18s ease infinite;
    -moz-animation: background-animation 18s ease infinite;
    -o-animation: background-animation 18s ease infinite;
    animation: background-animation 18s ease infinite;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1b1b1b;
    overflow: hidden;
}

.background span {
    width: 10vmin;
    height: 10vmin;
    border-radius: 10vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 38;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #4a4a48;
    top: 17%;
    left: 32%;
    animation-duration: 92s;
    animation-delay: -50s;
    transform-origin: -7vw -12vh;
    box-shadow: 20vmin 0 2.9900272322993975vmin currentColor;
}
.background span:nth-child(1) {
    color: #1f1f1f;
    top: 23%;
    left: 23%;
    animation-duration: 27s;
    animation-delay: -87s;
    transform-origin: -21vw 2vh;
    box-shadow: 20vmin 0 3.1260542040398227vmin currentColor;
}
.background span:nth-child(2) {
    color: #4a4a48;
    top: 42%;
    left: 12%;
    animation-duration: 101s;
    animation-delay: -101s;
    transform-origin: -3vw -6vh;
    box-shadow: -20vmin 0 3.4991193336497326vmin currentColor;
}
.background span:nth-child(3) {
    color: #1f1f1f;
    top: 45%;
    left: 11%;
    animation-duration: 73s;
    animation-delay: -68s;
    transform-origin: 21vw -22vh;
    box-shadow: 20vmin 0 3.4560547570859588vmin currentColor;
}
.background span:nth-child(4) {
    color: #4a4a48;
    top: 40%;
    left: 84%;
    animation-duration: 40s;
    animation-delay: -1s;
    transform-origin: -5vw 13vh;
    box-shadow: -20vmin 0 3.0313446940996074vmin currentColor;
}
.background span:nth-child(5) {
    color: #65645c;
    top: 27%;
    left: 64%;
    animation-duration: 99s;
    animation-delay: -22s;
    transform-origin: 21vw 21vh;
    box-shadow: 20vmin 0 3.39169053239542vmin currentColor;
}
.background span:nth-child(6) {
    color: #65645c;
    top: 42%;
    left: 79%;
    animation-duration: 22s;
    animation-delay: -3s;
    transform-origin: 22vw 7vh;
    box-shadow: 20vmin 0 2.753604396927707vmin currentColor;
}
.background span:nth-child(7) {
    color: #1f1f1f;
    top: 13%;
    left: 51%;
    animation-duration: 28s;
    animation-delay: -86s;
    transform-origin: -21vw -6vh;
    box-shadow: -20vmin 0 3.0905268975692173vmin currentColor;
}
.background span:nth-child(8) {
    color: #65645c;
    top: 37%;
    left: 7%;
    animation-duration: 48s;
    animation-delay: -70s;
    transform-origin: -3vw 12vh;
    box-shadow: -20vmin 0 3.1571464709577466vmin currentColor;
}
.background span:nth-child(9) {
    color: #1f1f1f;
    top: 39%;
    left: 3%;
    animation-duration: 83s;
    animation-delay: -101s;
    transform-origin: -10vw -11vh;
    box-shadow: -20vmin 0 2.8920631267680568vmin currentColor;
}
.background span:nth-child(10) {
    color: #1f1f1f;
    top: 56%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -28s;
    transform-origin: -24vw -5vh;
    box-shadow: 20vmin 0 2.6239831155032176vmin currentColor;
}
.background span:nth-child(11) {
    color: #1f1f1f;
    top: 48%;
    left: 40%;
    animation-duration: 23s;
    animation-delay: -4s;
    transform-origin: -24vw -11vh;
    box-shadow: -20vmin 0 3.352534316291073vmin currentColor;
}
.background span:nth-child(12) {
    color: #1f1f1f;
    top: 7%;
    left: 66%;
    animation-duration: 63s;
    animation-delay: -37s;
    transform-origin: 0vw 24vh;
    box-shadow: -20vmin 0 2.813817056320838vmin currentColor;
}
.background span:nth-child(13) {
    color: #4a4a48;
    top: 14%;
    left: 55%;
    animation-duration: 15s;
    animation-delay: -11s;
    transform-origin: 10vw 15vh;
    box-shadow: 20vmin 0 2.7861738415735307vmin currentColor;
}
.background span:nth-child(14) {
    color: #1f1f1f;
    top: 6%;
    left: 2%;
    animation-duration: 48s;
    animation-delay: -45s;
    transform-origin: 1vw -10vh;
    box-shadow: 20vmin 0 2.790639625545345vmin currentColor;
}
.background span:nth-child(15) {
    color: #4a4a48;
    top: 80%;
    left: 55%;
    animation-duration: 119s;
    animation-delay: -61s;
    transform-origin: 23vw -19vh;
    box-shadow: 20vmin 0 2.645690782833058vmin currentColor;
}
.background span:nth-child(16) {
    color: #65645c;
    top: 13%;
    left: 56%;
    animation-duration: 14s;
    animation-delay: -94s;
    transform-origin: -18vw 3vh;
    box-shadow: 20vmin 0 3.16569586620591vmin currentColor;
}
.background span:nth-child(17) {
    color: #1f1f1f;
    top: 36%;
    left: 55%;
    animation-duration: 86s;
    animation-delay: -20s;
    transform-origin: -11vw -21vh;
    box-shadow: 20vmin 0 3.09517154770959vmin currentColor;
}
.background span:nth-child(18) {
    color: #65645c;
    top: 75%;
    left: 53%;
    animation-duration: 86s;
    animation-delay: -85s;
    transform-origin: -13vw 3vh;
    box-shadow: 20vmin 0 2.945011177881575vmin currentColor;
}
.background span:nth-child(19) {
    color: #1f1f1f;
    top: 88%;
    left: 100%;
    animation-duration: 42s;
    animation-delay: -73s;
    transform-origin: 3vw -20vh;
    box-shadow: -20vmin 0 3.0185396140303595vmin currentColor;
}
.background span:nth-child(20) {
    color: #1f1f1f;
    top: 30%;
    left: 90%;
    animation-duration: 20s;
    animation-delay: -39s;
    transform-origin: 4vw 22vh;
    box-shadow: 20vmin 0 3.4125199806828976vmin currentColor;
}
.background span:nth-child(21) {
    color: #65645c;
    top: 74%;
    left: 60%;
    animation-duration: 86s;
    animation-delay: -90s;
    transform-origin: 16vw -14vh;
    box-shadow: -20vmin 0 2.663507817765937vmin currentColor;
}
.background span:nth-child(22) {
    color: #4a4a48;
    top: 42%;
    left: 51%;
    animation-duration: 8s;
    animation-delay: -89s;
    transform-origin: -6vw 22vh;
    box-shadow: 20vmin 0 3.364418549209262vmin currentColor;
}

.logo {

position: relative;
max-width: 48px;
left: 18px;
top: 15px;


}

.nav-bar {

max-width: 1888px;
margin: auto;
padding: 2rem 1rem;
display: flex;
align-items: center;
justify-content: space-between;
gap: 2rem;
background-color: #353535;
max-height: 100px;
color: #fff;

}

a {

text-decoration: none;
color: #fff;

}

.link {

list-style: none;
display: inline-block;
padding: 88px;
padding-left: 40px;
left: 848px;
position: relative;
transition: 1s ease;

}

.link a {

position: relative;
padding-bottom: 0.75rem;
text-decoration: none;

}

.link:hover {

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;

}

.introduction {

color: #f8f8f8;
font-size: 20px;
padding: 28px;
justify-content: space-between;
align-items: center;
margin-top: 100px;
letter-spacing: 2px;
line-height: 40px;

}

.introduction h1{

position: relative;
align-items: center;
display: flex;
left: 448px;

}

.introduction a {

position: relative;
align-items: center;
display: flex;
left: 520px;

}

.introduction-img {

position: relative;
align-items: center;
display: flex;
left: 250px;
transition: 1s ease;
max-width: 1000px;
margin-top: 50px;
border: none;
border-radius: 20px;

}

.introduction-img::after {

opacity: 80%;
transition: 1s ease;

}

.description {

color: #f8f8f8;
font-size: 20px;
padding: 28px;
justify-content: space-between;
align-items: center;
margin-top: 50px;
letter-spacing: 2px;
line-height: 48px;

}

.description h2 {

position: relative;
align-items: center;
display: flex;
left: 188px;

}

.description a {

position: relative;
align-items: center;
display: flex;
left: 628px;

}

.offer-list {

list-style: none;
display: inline-block;
padding: 10px;
position: relative;
left: -568px;
top: 48px;

}

.offer-list a {

position: relative;
padding-bottom: 0.75rem;

}

.offer-list p {

margin-left: 20px;

}

.products {

color: #f8f8f8;
font-size: 20px;
padding: 28px;
justify-content: space-between;
align-items: center;
margin-top: 100px;
letter-spacing: 2px;
line-height: 48px;
    
}

.products h3 {

position: relative;
align-items: center;
display: flex;
left: 570px;
padding: 20px;

}

.product-img {

position: relative;
max-width: 500px;
border: none;
border-radius: 20px;
left: -338px;
margin: 20px;
transition: 1s ease;

}

.product-img:hover {

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;

}

.list {

list-style: none;
display: inline-block;
padding: 10px;
left: 448px;
position: relative;

}

.list a {

position: relative;
padding-bottom: 0.75rem;
left: -700px;
top: 40px;
font-size: 20px;

}

.btn {

position: relative;
color: #fff;
background-color: #353535;
width: 100px;
height: 50px;
border: none;
border-radius: 10px;
font-weight: bold;
left: 715px;
top: 45px;
cursor: pointer;

}

.footer {

color: #fff;
background-color: #353535;
height: 110px;
padding: 28px;
margin-top: 100px;
letter-spacing: 2px;
line-height: 40px;

}

.footer h4 {

position: relative;
align-items: center;
display: flex;
left: 620px;
    
}

i {

font-size: 20px;
color: #f8f8f8;
content: '';
display: block;
align-items: center;
left: 700px;
position: relative;
padding: 10px;
bottom: 10px;
cursor: pointer;

}

.description i {

font-size: 20px;
color: #f8f8f8;
content: '';
display: block;
left: 580px;
position: relative;
top: 42px;

}